.tour {
  background: ghostwhite;
  padding: 30px 0;
}
.tour .img {
  position: relative;
}
.tour .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.433);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tour .img .overlay svg {
  color: #fff;
  font-size: 60px;
}
.tour h6 {
  color: gray;
  font-weight: 100;
  font-style: italic;
}
.tour h3 {
  font-size: 30px;
  font-weight: 600;
  color: #1b2b2f;
}
.tour h5 {
  font-size: 18px;
}
.tour p {
  font-size: 16px;
  color: gray;
  font-weight: 300;
}
